#jogo {
  position: relative;
  width: 700px;
  height: 400px;
  background-color: black;
}

#bola {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

.raquete {
  position: absolute;
  width: 10px;
  height: 100px;
  background-color: white;
}

#raquete-jogador {
  right: 10px;
}

#raquete-computador {
  left: 10px;
}